@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap'); */



:root {

  --serif: "Newsreader", serif;
  --mono: "DM Mono", monospace;
  --text: #f5f5f5;
  --light-modal: #f5f5f5;
  --dark-modal: #0a0a0a;
  --bg: #0a0a0a;
  --accent: #00cc75;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  font-family: var(--serif);
  color: var(--text);
  background: var(--bg);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: 9999;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

h1,h2,h3 {
  font-family: var(--serif);
}

nav, button, .tag {
  font-family: var(--mono);
}

/* Light weight */
.hero h1 {
  font-family: var(--serif);
  font-weight: 200;
  /* font-style: italic; */
}

/* Regular weight */
p {
  font-family: var(--serif);
  font-weight: 400;
}
.subtitle {
  font-family: var(--mono);
  color: #888;
}

/* Semibold */
.emphasis {
  font-family: var(--serif);
  font-weight: 600;
}

/* Italic */
.quote {
  font-family: var(--serif);
  font-style: italic;
  /* font-weight: 100; */
  color: var(--accent)
}

@media (prefers-color-scheme: dark) {
  body:not(.dark):not(.light){
    background: var(--bg);
    color: var(--text);
  }
}

body.dark {
  background: var(--bg);
  color: var(--text);
  --light-modal: var(var(--dark-modal));
}

body.light {
  background: #f5f5f5;
  color: #0a0a0a;
  --light-modal:#f5f5f5;
}

body.light .project-name {
  color: var(--text);
}

body.light .contact-container a:hover {
  color: var(--light-modal);
}

/* body.light .project-cont:first-child .customized-bg {
  background-color: #f5f5f5 !important;
}  */

.modal {
  background: var(--light-modal);
  color: var(--bg);
}

.active {
  display: flex;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  bottom: -1px;
  width: 0;
  background: #00cc75;
  transition: width 0.3s ease-in;
}

.active.hire-me::after{
  bottom: -3px;
  height: 3px;
}

.active:hover::after {
  width: 100%;
}

.tag {
  font-family: var(--mono);
  font-size: 0.55rem;
  color: var(--accent);
  letter-spacing: 0.1em;
}

body.dark .view-project {
  color: var(--bg);
}
body.light .view-project {
  color: var(--text);
}

.status {
  font-family: var(--mono);
  font-size: 0.5rem;
  padding: 0.2rem 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.work-link {
  font-family: var(--mono);
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  background: rgba(0,0,0,0.3);
  color: var(--text);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  letter-spacing: 0.01em;
}

.work-link:hover {
  background: var(--accent);
  color:#0a0a0a;
}

body.light .work-link {
  border-color: #888;
}

body.light .theme-button {
  color:black;
  border-color:#e2dddd;
}
body.dark .theme-button {
  color:white;
}

body.light .skill-card {
  background: rgba(0,0,0,0.01);
}

body.light .skill-section {
  background: #ffffff;
}
body.light .about-section {
  background: #f5f5f5;
}


.about-write-up p {
  line-height: 1.5;
  color: #888;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.skill-name {
  font-family: var(--mono);
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025em;
}

.skill span{
  font-family: var(--mono);
  font-size: 0.85rem;
  border: 1px solid #2a2a2a;
  background: rgba(255,255,255,0.02);
  padding: 5px 10px;
}

.skill {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 400px;
}

.line{
  background: #00CC75;
  height: 100px;
  width: 2px;
}

.stats span {
  font-family: var(--mono);
  display: block;
  text-transform: uppercase;
  color:#888;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
}

.social-links a {
  font-family: var(--mono);
  font-size: 0.9rem;
  color: #666;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--accent);
}

.footer-container > p {
  font-family: var(--mono);
}


@tailwind utilities;